name: Tag Development

on:
  pull_request:
    branches:
      - development

jobs:
  ValidateCache:
    runs-on: ubuntu-latest
    steps:

      - name: CheckRepository
        uses: actions/cache@v4