name: Tag Development

on:
  pull_request:
    branches:
      - development

jobs:
  get_labels:
    runs-on: ubuntu-latest
    steps:
      - name: Get PR Labels
        uses: actions/github-script@v6
        id: get-labels
        with:
          script: |
            const labels = github.event.pull_request.labels.map(label => label.name);
            core.setOutput('pr_labels', JSON.stringify(labels));
      - name: Use Labels
        run: |
          echo "PR Labels: ${{ steps.get-labels.outputs.pr_labels }}"
