name: Tag Development

on:
  pull_request:
    branches:
      - development

jobs:
  ValidateCache:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v4

      - name: List
        run: ls -l